/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  General
  ========================================
*/

body {
  background: #293f50;
  font: 300 16px/22px  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Tweets & Tweet Panels
  ========================================
*/

.tweets-wrapper {
  border-top: 3px solid #fff;
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  padding: 18.5px 80px 20px 85px;
  background: #B4F2FF;
  background: -webkit-linear-gradient(to right, #B4F2FF 70%, #D9D8FF);
  background:    -moz-linear-gradient(to right, #B4F2FF 70%, #D9D8FF);
  background:         linear-gradient(to right, #B4F2FF 70%, #D9D8FF);
  min-width: 900px;
}

.tweets-panel, .my-tweets {
  color: grey;
  font-size: 25px;
  font-weight: 400;
}

.tweets-panel {
  display: none;
}

.active {
  display:inherit;
}

.form {
  padding: 5px 0 10px 0;
}

.individual-tweets{
  background-color: #fff;
  border: 1px solid #A4A6E8;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 10px 7px 10px 14px;
}

#time{
  color: #E1D9FF;
  display:table;
  font-size: 20px;
}
/*
  ========================================
  Header
  ========================================
*/

.header {
  font-size: 20px;
  height: 115px;
  line-height: 40px;
  padding: 20px 80px 0px 80px;
}

.header img {
  border-radius: 50%;
  border: 3px solid #fff;
  height: 240px;
  background-color: #B4B6FF;
  margin: -25px 50px 0 0;
  position: absolute;
}

.feed{
  display: inline-block;
}

.title {
  position: absolute;
  margin: 30px 0 0 275px;
  min-width: 800px;
}

/*
  ========================================
  Footer
  ========================================
*/


.footer {
  padding: 20px 80px 17.5px 85px;
  color: #D6DBD8;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #A4A6E8;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: #9D9EDE;  /* formerly: 5C4EE8; */
}


.links{
  cursor: pointer;
}

/*
  ========================================
  Twitter Input
  ========================================
*/

.btn {
  border: 1px solid #fff;
  background: #B4B6FF;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: .5px;
  display: inline-block;
  position: absolute;

}

.btn:hover {
  background: #9D9EDE;
}

.submit-tweet-btn {
  margin: 1px 0 0 30px;
  padding: 16px 30px;
  font-style: italic;
}

textarea {
  border: 1px solid #A4A6E8;
  border-radius: 5px;
  font: 300 22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 20px;
  width: 45%;
  margin: 0 0 0 270px;
  display: inline-block;
  line-height: 25px;
  resize: none;
}

/*
  ========================================
  Typography
  ========================================
*/


h1 {
  color: #fff;
  font-size: 90px;
  line-height: 40px;
}
